{% extends "bs_base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>First-Lady-Swap App</h1>
    <p class="lead">Try the First-Lady-Swap App, where you rearrange famous Presidential couples, re-writing history for cuteness and lolz! </p>
    <p><a class="btn btn-lg btn-success" href="/firstladyswap/1/voting/" role="button">Play Now!</a></p>
  </div>

  <div class="jumbotron">
    <h2>Preview Results</h2>
    <p class="lead">Check the results page, where you can click on a President to see their results.</p>
    <p><a class="btn btn-lg btn-success" href="/firstladyswap/results" role="button">Results</a></p>
  </div>


{% endblock %}